<ion-view>
    <ion-nav-bar class="bar-dark">
        <ion-nav-title>Anti-doping</ion-nav-title>
    <ion-nav-buttons>
            <a class="button button-icon button-clear ion-drag" menu-toggle="left">
            </a>
                
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <a href="#/app/main" class="button icon button-icon">Home</a>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
      <h1>Anti-doping</h1>
    </ion-content>

</ion-view>
