<ion-view>
    <ion-nav-bar class="bar-light">
        <ion-nav-buttons>
            <div class="buttons">
            <a href="#/app/main" class="button icon button-icon ion-ios7-arrow-back"></a>
        </div>
    </ion-nav-bar>

    <ion-pane class="contact">
        <ion-list class="contact-list">
            <ion-item class="item-divider item-text-centre">
                <h2>Room 214 Players Union Offices</h2>
                <p>National Sports Campus</p>
                <p>Abbotstown</p>
                <p>Dublin 15</p>
                <p>Ireland</p>
            </ion-item>
            <ion-item class="item-icon-right" href="#">
                <h4>Call</h4>
                <p>direct number to our offices</p>
                <i class="icon ion-ios7-telephone-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#">
                <h4>Mail</h4>
                <p>send an email</p>
                <i class="icon ion-ios7-email-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#">
                <h4>Facebook</h4>
                <p>keep in touch</p>
                <i class="icon ion-social-facebook-outline contact-item"></i>
            </ion-item>
            <ion-item class="item-icon-right" href="#">
                <h4>Twitter</h4>
                <p>follow us on twitter</p>
                <i class="icon ion-social-twitter-outline contact-item"></i>
            </ion-item>
        </ion-list>
        
    </ion-pane>

</ion-view>
