<ion-view>
    <ion-nav-buttons class="bar-energized">
        <div class="buttons"><button class="button button-icon button-clear ion-drag" menu-toggle="left">
        </button>
        </div>
            <h1 class="title">Membership</h1>
        <div class="buttons">
            <a href="#/app/main" class="button icon button-icon">Home</a>
        </div>
    </ion-nav-buttons>

    <ion-content class="section-content">
        <img class="section-main" src="images/content/membership.png"/>
        <div ng-bind-html="sections.membership"></div>
    </ion-content>

</ion-view>
