<ion-view view-title="Meet the Team">
   
    <ion-content>
        
        <div class="card" ng-repeat="member in team" >
            <div class="item item-avatar">
                <img src={{member.avatar}}>
                <h2>{{member.name}}</h2>
                <h2 class="subdued">{{member.role}}</h2>
                <p>{{member.start}}</p>
                <div class="item-button-right">
                    <button class="button button-icon ion-ios7-keypad-outline" ng-click="popover.show($event)"> 
                    </button>
                </div>
            </div>

            <div class="item item-body">
                <img class="full-image" src={{member.image}}>
                <p>
                    {{member.duties}}
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
