<ion-view>
    <ion-nav-buttons class="bar-dark">
        <div class="buttons"><button class="button button-icon button-clear ion-drag" menu-toggle="left">
        </button>
        </div>
            <h1 class="title">Transfer List</h1>
        <div class="buttons">
            <a href="#/app/main" class="button icon button-icon">Home</a>
        </div>
    </ion-nav-buttons>

    <ion-content class="section-content">
        <div class="transferlist">
            <div class="row list-title">
                <div class="col">Player</div>
                <div class="col">Club</div>
                <div class="col">Pos</div>
                <div class="col">Dob</div>
            </div>
            <div class="row" ng-repeat="player in players track by $index">
                <div class="col list-detail" ng-repeat="(key, detail) in player">

                    <div class="col">{{detail}}</div>

                </div>
            </div>
        </div>
            
    </ion-content>

</ion-view>
