<ion-view>
    <ion-nav-buttons class="bar-energized">
        <div class="buttons"><button class="button button-icon button-clear ion-drag" menu-toggle="left">
        </button>
        </div>
            <h1 class="title">Transfer List</h1>
        <div class="buttons">
            <a href="#/app/main" class="button icon button-icon">Home</a>
        </div>
    </ion-nav-buttons>

    <ion-content>
        <div class="row">
          <div class="col">Player</div>
          <div class="col">Club</div>
          <div class="col">Pos</div>
          <div class="col">Dob</div>
        </div>
        <div class="row" ng-repeat="player in list">
        <div class="row" ng-repeat="(key,value) in player">
            
              <!--<div ng-if="key == 'First Name'" class="col">{{value}}</div>-->
              <div class="col">{{value}}</div>
              
            </div>
            
        </div>
    </ion-content>

</ion-view>
