/* Empty. Add your own CSS if you like */

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

/* Loader customization */
.loading {
    background-color: rgba(0,0,0,0)!important;
}
i.icon.ion-loading-c {
    color: rgb(0,170,50);
    zoom: 5;
}

/* Transfer List */

.transferlist .col{
    padding: 1px;  
}

.transferlist .row{
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid rgba(150,150,150, 0.6);  
}
.list-title{
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(0,170,50); 
        
}
.transferlist .list-detail{
    font-size: 8px; 
        
}